* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: #ffffff;
  width: 100%;
  max-width: 480px;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.icon-wrapper {
  width: 60px;
  height: 60px;
  background-color: #d1fae5; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
}

.icon-wrapper i {
  color: #10b981;
  font-size: 24px;
}

h2 {
  color: #1f2937;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.description {
  color: #6b7280;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 30px;
  padding: 0 20px;
}

.details-container {
  background-color: #f9fafb;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 25px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 13px;
}

.detail-row:last-child {
  margin-bottom: 0;
}

.label {
  color: #9ca3af; 
  font-weight: 400;
}

.value {
  color: #374151; 
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.copy-icon {
  color: #2563eb;
  cursor: pointer;
}

.status-badge {
  background-color: #d1fae5;
  color: #10b981;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.divider {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 15px 0;
}

.total-row {
  margin-top: 5px;
}

.total-label {
  color: #374151;
  font-weight: 600;
  font-size: 14px;
}

.total-amount {
  color: #155DFC; 
  font-weight: 700;
  font-size: 14px;
}

/* Tombol */
.btn-dashboard {
  background-color: #155DFC; 
  color: white;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-dashboard:hover {
  background-color: #1e40af;
}
