* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
  color: #1e293b;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  
}

:root {
  --primary-blue: #155DFC;
  --light-blue: #D6E8FF;
  --text-dark: #1e293b;
  --text-gray: #62748E;
  --border-color: #D4D4D4;
  --bg-gray: #f8fafc;
  --danger-bg: #FFCECE;
  --danger-text: #FF1B1B;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  border-bottom: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 1.2rem 0;
  margin-bottom: 2rem;
  background: white;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: #000;
}

.logo span {
  display: block;
  font-size: 16px;
  color: var(--primary-blue);
  margin-top: -5px;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-weight: 500;
  color: #000;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-link.active {
  background-color: var(--light-blue);
  color: var(--primary-blue);
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.user-profile i {
  font-size: 1.5rem;
  font-weight: 400;
}

.logout {
  color: var(--danger-text);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 10px;
  border-radius: 10px;
}
.logout:hover {
 background-color: var(--danger-bg);
}

.back-arrow{
  font-size: 20px;
  color: var(--text-gray);
  cursor: pointer;
}

.main-layout {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 2.5rem;
  align-items: start;
}

.search-container {
  position: relative;
  margin-bottom: 1.5rem;
}

.search-container i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-gray);
}

.search-input {
  width: 100%;
  padding: 12px 12px 12px 45px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  outline: none;
  font-size: 0.9rem;
  color: var(--text-dark);
}

.filter-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  color: var(--text-gray);
}

.filter-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-categories {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.category-pill {
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.3s;
}

.category-pill.active {
  background-color: var(--primary-blue);
  color: white;
}

.category-pill:hover:not(.active) {
  color: var(--primary-blue);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product-card {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s;
  background: white;
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.p-image {
  width: 100%;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 8px;
}

.p-price {
  font-weight: 700;
  font-size: 0.95rem;
  margin-bottom: 5px;
}

.p-name {
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 8px;
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.p-unit {
  font-size: 0.75rem;
  color: var(--text-gray);
  margin-bottom: 12px;
}

.btn-add {
  width: 100%;
  background-color: var(--primary-blue);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.btn-add:hover {
   background-color: #0e3bb8;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.order-header h2 {
  font-size: 1.1rem;
  font-weight: 500;
}

.btn-remove-all {
  background-color: var(--danger-bg);
  color: var(--danger-text);
  border: none;
  padding: 6px 16px;
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}
.btn-remove-all:hover {
  background-color: #FF1B1B;
  color: #ffffff;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2rem;
  max-height: 500px;
  overflow-y: auto;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFF6FF;
  padding: 12px;
  border-radius: 8px;
  font-size: 0.8rem;
}

.oi-name {
  flex: 2;
  font-weight: 500;
  color: var(--text-dark);
  padding-right: 10px;
}

.oi-qty {
  flex: 0.5;
  text-align: center;
  color: var(--primary-blue);
  font-weight: 500;
}

.oi-price {
  flex: 1;
  text-align: right;
  color: var(--primary-blue);
  font-weight: 600;
  margin-right: 15px;
}

.oi-remove {
  color: var(--danger-text);
  cursor: pointer;
  font-size: 1rem;
}

.cart-footer {
  border-top: 1px solid var(--border-color);
  padding-top: 1.5rem;
}

.total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.total-label {
  font-weight: 600;
  font-size: 1rem;
}

.total-price {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primary-blue);
}

.cart-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.btn-save {
  background-color: var(--light-blue);
  color: var(--primary-blue);
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}
.btn-save:hover {
  background-color: var(--primary-blue);
  color: white;
}

.btn-checkout {
  background-color: var(--primary-blue);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.btn-checkout:hover {
  background-color: #0e3bb8;
}
